<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../../static/image/logo.svg" th:href="@{/image/logo.svg}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="../../../static/css/workbench.css" th:href="@{/css/workbench.css}" />
    <link rel="stylesheet" href="../../../static/css/bootstrap-datetimepicker.min.css"
        th:href="@{/css/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" href="../../../static/css/td-msessage.css" th:href="@{/css/td-msessage.css}">
    <script src="../../../static/js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
    <script src="../../../static/js/lib/td-message.js" th:src="@{/js/lib/td-message.js}"></script>
    <script src="../../../static/js/lib/bootstrap.bundle.min.js" th:src="@{/js/lib/bootstrap.bundle.min.js}">
    </script>
    <script src="../../../static/js/lib/bootstrap-datetimepicker.js" th:src="@{/js/lib/bootstrap-datetimepicker.js}">
    </script>
    <script src="../../../static/js/lib/bootstrap-datetimepicker.zh-CN.js"
        th:src="@{/js/lib/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script src="../../../static/js/lib/bootstrap-typeahead.js" th:src="@{/js/lib/bootstrap-typeahead.js}"></script>
    <script src="../../../static/js/workbench/transaction/edit.js" th:src="@{/js/workbench/transaction/edit.js}">
    </script>
    <title>编辑交易 - CRM</title>
</head>

<body>
    <!-- 导航栏 -->
    <nav th:replace="workbench/common::navbar"></nav>

    <!-- 侧边栏 -->
    <div th:replace="workbench/common::sidebar"></div>

    <!-- 工作区 -->
    <div class="page-holder">
        <div class="container-fluid px-xl-7">
            <!-- 导航面包屑 -->
            <div class="page-breadcrumb mb-6">
                <ul class="breadcrumb fs-5">
                    <li class="breadcrumb-item">
                        <a href="index.html" th:href="@{/workbench/transaction/index.html}"
                            class="text-decoration-none">交易</a>
                    </li>
                    <li class="breadcrumb-item active">编辑</li>
                </ul>
            </div>

            <!-- 表单 -->
            <div class="card">
                <form>
                    <div class="card-header">
                        <h4>编辑交易</h4>
                    </div>

                    <input type="hidden" id="hidden-transaction-id" th:value="${transaction.id}">
                    <input type="hidden" id="hidden-transaction-activityId" th:value="${rawTransaction.activityId}">
                    <input type="hidden" id="hidden-transaction-contactsId" th:value="${rawTransaction.contactsId}">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <label class="form-label" for="edit-owner">所有者<span class="text-danger">*</span></label>
                                <div class="mb-4 input-group">
                                    <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                                    <select id="edit-owner" class="form-select">
                                        <option></option>
                                        <option th:each="user:${userList}" th:value="${user.id}"
                                            th:selected="${user.name == transaction.owner}">[[${user.name}]]</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <label class="form-label" for="edit-name">名称<span class="text-danger">*</span></label>
                                <div class="mb-4 input-group">
                                    <span class="input-group-text"><i class="bi bi-briefcase"></i></span>
                                    <input id="edit-name" type="text" class="form-control"
                                        th:value="${transaction.name}">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label class="form-label" for="edit-expectedDate">预计成交日期<span
                                        class="text-danger">*</span></label>
                                <div class="mb-4 input-group">
                                    <span class="input-group-text"><i class="bi bi-calendar-month"></i></span>
                                    <input id="edit-expectedDate" type="text" class="form-control time"
                                        autocomplete="off" th:value="${transaction.expectedDate}">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label class="form-label" for="edit-money">金额</label>
                                <div class="mb-4 input-group">
                                    <span class="input-group-text"><i class="bi bi-cash-coin"></i></span>
                                    <input id="edit-money" type="text" class="form-control"
                                        th:value="${transaction.money}">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <label class="form-label" for="edit-source">来源</label>
                                <div class="mb-0 input-group">
                                    <span class="input-group-text"><i class="bi bi-cursor"></i></span>
                                    <select id="edit-source" class="form-select">
                                        <option></option>
                                        <option th:each="i:${application.source}" th:value="${i.value}"
                                            th:selected="${transaction.source == i.value}">
                                            [[${i.text}]]
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label class="form-label" for="edit-type">类型</label>
                                <div class="mb-0 input-group">
                                    <span class="input-group-text"><i class="bi bi-tags"></i></span>
                                    <select id="edit-type" class="form-select">
                                        <option></option>
                                        <option th:each="i:${application.transactionType}" th:value="${i.value}"
                                            th:selected="${transaction.type == i.value}">
                                            [[${i.text}]]
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr class="my-0">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <label class="form-label" for="edit-customerName">客户名称<span
                                        class="text-danger">*</span></label>
                                <div class="mb-4 input-group">
                                    <span class="input-group-text"><i class="bi bi-building"></i></span>
                                    <input id="edit-customerName" type="text" class="form-control"
                                        placeholder="支持自动补全，客户不存在则新建" autocomplete="off" th:value="${transaction.customerId}">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label class="form-label" for="edit-stage">阶段</label>
                                <div class="mb-4 input-group">
                                    <span class="input-group-text"><i class="bi bi-signpost-2"></i></span>
                                    <select id="edit-stage" class="form-select">
                                        <option></option>
                                        <option th:each="i:${application.stage}" th:value="${i.value}"
                                            th:selected="${transaction.stage == i.value}">
                                            [[${i.text}]]
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <label class="form-label" for="edit-activityId">市场活动源</label>
                                <div class="mb-4 input-group">
                                    <span class="input-group-text"><i class="bi bi-shop"></i></span>
                                    <input id="edit-activityId" type="text" class="form-control bg-white" readonly
                                        th:value="${transaction.activityId}">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label class="form-label" for="edit-contactsId">联系人名称</label>
                                <div class="mb-4 input-group">
                                    <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                                    <input id="edit-contactsId" type="text" class="form-control bg-white" readonly
                                        th:value="${transaction.contactsId}">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <label class="form-label" for="edit-description">描述</label>
                                    <textarea rows="5" placeholder="来详细介绍一下交易吧~" class="form-control"
                                        id="edit-description">[[${transaction.description}]]</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="my-0">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <label class="form-label" for="edit-nextContactTime">下次联系时间</label>
                                <div class="mb-4 input-group">
                                    <span class="input-group-text"><i class="bi bi-calendar-date"></i></span>
                                    <input id="edit-nextContactTime" type="text" class="form-control time"
                                        autocomplete="off" th:value="${transaction.nextContactTime}">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="mb-0">
                                    <label class="form-label" for="edit-contactSummary">联系纪要</label>
                                    <textarea rows="5" placeholder="来详细介绍一下联系信息吧~" class="form-control"
                                        id="edit-contactSummary">[[${transaction.contactSummary}]]</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

                <div class="text-end card-footer">
                    <button class="btn btn-primary" id="addBtn">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!--  添加市场活动模态框  -->
    <div class="modal fade" id="activity-modal" tabindex="-1" aria-labelledby="activityModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="activityModalLabel">市场活动</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body px-5 py-5">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="前辈可以在这里输入市场活动名称哦" aria-label=""
                            aria-describedby="search-activity-btn" id="search-activity-input">
                        <button class="btn btn-outline-success" type="button" id="search-activity-btn"><i
                                class="bi bi-search"></i></button>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td></td>
                                <td>名称</td>
                                <td>开始时间</td>
                                <td>结束时间</td>
                                <td>所有者</td>
                            </tr>
                        </thead>

                        <tbody id="activityBody">

                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="select-activity-btn">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!--  添加联系人模态框  -->
    <div class="modal fade" id="contacts-modal" tabindex="-1" aria-labelledby="contactsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contactsModalLabel">联系人</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body px-5 py-5">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="前辈可以在这里输入联系人名称哦" aria-label=""
                            aria-describedby="search-contacts-btn" id="search-contacts-input">
                        <button class="btn btn-outline-success" type="button" id="search-contacts-btn"><i
                                class="bi bi-search"></i></button>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td></td>
                                <td>名称</td>
                                <td>邮箱</td>
                                <td>手机</td>
                            </tr>
                        </thead>

                        <tbody id="contactsBody">

                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="select-contacts-btn">确定</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>