<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../../static/image/logo.svg" th:href="@{/image/logo.svg}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="../../../static/css/workbench.css" th:href="@{/css/workbench.css}" />
    <link rel="stylesheet" href="../../../static/css/bootstrap-datetimepicker.min.css"
        th:href="@{/css/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" href="../../../static/css/td-msessage.css" th:href="@{/css/td-msessage.css}">
    <script src="../../../static/js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
    <script src="../../../static/js/lib/td-message.js" th:src="@{/js/lib/td-message.js}"></script>
    <script src="../../../static/js/lib/bootstrap.bundle.min.js" th:src="@{/js/lib/bootstrap.bundle.min.js}">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="../../../static/js/lib/bootstrap-pagination.js" th:src="@{/js/lib/bootstrap-pagination.js}"></script>
    <script src="../../../static/js/workbench/transaction/index.js" th:src="@{/js/workbench/transaction/index.js}">
    </script>
    <title>交易 - CRM</title>
</head>

<body>
    <!-- 导航栏 -->
    <nav th:replace="workbench/common::navbar"></nav>

    <!-- 侧边栏 -->
    <div th:replace="workbench/common::sidebar"></div>

    <!-- 工作区 -->
    <div class="page-holder">
        <div class="container-fluid px-xl-7">
            <h2>交易</h2>

            <!-- 筛选 -->
            <div class="card mt-4">
                <div class="card-header">
                    <h4>筛选条件</h4>
                </div>

                <div class="card-body">
                    <p class="fs-4 fw-bold mb-5">前辈可以在这里输入你想要的条件哦 😆</p>
                    <form class="form-horizontal">
                        <div class="row mb-5">
                            <label class="col-md-3 form-label" for="search-name">名称</label>
                            <div class="col-md-8">
                                <input class="form-control" id="search-name" type="text">
                            </div>
                        </div>

                        <div class="row mb-5">
                            <label class="col-sm-3 form-label" for="search-owner">所有者</label>
                            <div class="col-md-8">
                                <input class="form-control" id="search-owner" type="text">
                            </div>
                        </div>

                        <div class="row mb-5">
                            <label class="col-sm-3 form-label" for="search-customerName">客户名称</label>
                            <div class="col-md-8">
                                <input class="form-control" id="search-customerName" type="text">
                            </div>
                        </div>

                        <div class="row mb-5">
                            <label class="col-sm-3 form-label" for="search-contactsName">联系人名称</label>
                            <div class="col-md-8">
                                <input class="form-control" id="search-contactsName" type="text">
                            </div>
                        </div>

                        <div class="row mb-5">
                            <label class="col-sm-3 form-label" for="search-stage">阶段</label>
                            <div class="col-md-8">
                                <select name="search-stage" class="form-select" id="search-stage">
                                    <option></option>
                                    <option th:each="i:${application.stage}" th:value="${i.value}">
                                        [[${i.text}]]
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <label class="col-sm-3 form-label" for="search-type">类型</label>
                            <div class="col-md-8">
                                <select name="search-type" class="form-select" id="search-type">
                                    <option></option>
                                    <option th:each="i:${application.transactionType}" th:value="${i.value}">
                                        [[${i.text}]]
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <label class="col-sm-3 form-label" for="search-source">来源</label>
                            <div class="col-md-8">
                                <select name="search-source" class="form-select" id="search-source">
                                    <option></option>
                                    <option th:each="i:${application.source}" th:value="${i.value}">
                                        [[${i.text}]]
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-0">
                            <div class="col-md-9 ms-auto">
                                <button class="btn btn-primary" type="button" id="searchBtn">查询</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- 查询结果 -->
            <div class="card mt-7">
                <div class="card-header">
                    <h4>查询结果</h4>
                </div>

                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td><input class="form-check-input" type="checkbox" id="qx" /></td>
                                <td>名称</td>
                                <td>所有者</td>
                                <td>客户名称</td>
                                <td>联系人名称</td>
                                <td>阶段</td>
                                <td>类型</td>
                                <td>来源</td>
                            </tr>
                        </thead>

                        <tbody id="transactionBody">

                        </tbody>
                    </table>

                    <div class="text-center" id="transactionPage">
                        <ul class="pagination mb-0 mt-6 fs-8"></ul>
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-primary me-2" id="addBtn">创建</button>
                    <button class="btn btn-outline-dark me-2" id="editBtn">编辑</button>
                    <button class="btn btn-danger" id="deleteBtn">删除</button>
                </div>
            </div>

            <!-- 隐藏域 -->
            <input type="hidden" id="hidden-name">
            <input type="hidden" id="hidden-owner">
            <input type="hidden" id="hidden-customerName">
            <input type="hidden" id="hidden-contactsName">
            <input type="hidden" id="hidden-stage">
            <input type="hidden" id="hidden-type">
            <input type="hidden" id="hidden-source">

        </div>
    </div>
</body>

</html>