<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.zhiyiyo.crm.settings.entity"/>
        <package name="com.zhiyiyo.crm.workbench.entity"/>
    </typeAliases>

    <mappers>
        <package name="com.zhiyiyo.crm.settings.dao"/>
        <package name="com.zhiyiyo.crm.workbench.dao"/>
    </mappers>
</configuration>