<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../../static/image/logo.svg" th:href="@{/image/logo.svg}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="../../../static/css/workbench.css" th:href="@{/css/workbench.css}" />
    <link rel="stylesheet" href="../../../static/css/bootstrap-datetimepicker.min.css"
        th:href="@{/css/bootstrap-datetimepicker.min.css}" />
    <link rel="stylesheet" href="../../../static/css/td-msessage.css" th:href="@{/css/td-msessage.css}">
    <script src="../../../static/js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
    <script src="../../../static/js/lib/td-message.js" th:src="@{/js/lib/td-message.js}"></script>
    <script src="../../../static/js/lib/bootstrap-datetimepicker.js" th:src="@{/js/lib/bootstrap-datetimepicker.js}">
    </script>
    <script src="../../../static/js/lib/bootstrap-datetimepicker.zh-CN.js"
        th:src="@{/js/lib/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script src="../../../static/js/workbench/contacts/details.js" th:src="@{/js/workbench/contacts/details.js}">
    </script>
    <title>联系人详细信息 - CRM</title>
</head>


<body>
    <!-- 导航栏 -->
    <nav th:replace="workbench/common::navbar"></nav>

    <!-- 侧边栏 -->
    <div th:replace="workbench/common::sidebar"></div>

    <!-- 工作区 -->
    <div class="page-holder">
        <div class="container-fluid px-xl-7">
            <h2>联系人详细信息</h2>

            <div class="card mt-5">
                <input type="hidden" id="hidden-contacts-id" th:value="${contacts.id}">
                <input type="hidden" id="hidden-contacts-fullname" th:value="${contacts.fullname}">
                <input type="hidden" id="hidden-contacts-appellation" th:value="${contacts.appellation}">
                <div class="card-header">
                    <h4>详细信息</h4>
                </div>

                <div class="card-body">
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-2"><strong>姓名</strong></div>
                                    <div class="col-4" id="fullname_appellation">
                                        [[|${contacts.fullname}]][[${contacts.appellation}]]
                                    </div>
                                    <div class="col-2"><strong>手机</strong></div>
                                    <div class="col-4">
                                        [[${contacts.mphone}]]
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-2"><strong>职位</strong></div>
                                    <div class="col-4">
                                        [[${contacts.job}]]
                                    </div>
                                    <div class="col-2"><strong>邮箱</strong></div>
                                    <div class="col-4">
                                        [[${contacts.email}]]
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-2"><strong>公司</strong></div>
                                    <div class="col-4" id="company">
                                        [[${contacts.customerId}]]
                                    </div>
                                    <div class="col-2"><strong>来源</strong></div>
                                    <div class="col-4">
                                        [[${contacts.source}]]
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-2"><strong>所有者</strong></div>
                                    <div class="col-4" id="owner">
                                        [[${contacts.owner}]]
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-2"><strong>创建者</strong></div>
                                    <div class="col-10">
                                        [[${contacts.createBy}]]
                                        <small class="fs-8 text-secondary ms-2">[[${contacts.createTime}]]</small>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-2"><strong>修改者</strong></div>
                                    <div class="col-10">
                                        [[${contacts.editBy}]]
                                        <small class="fs-8 text-secondary ms-2">[[${contacts.editTime}]]</small>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2"><strong>详细信息</strong></div>
                                    <div class="col-10">
                                        [[${contacts.description}]]
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-2"><strong>下次联系时间</strong></div>
                                    <div class="col-4">
                                        [[${contacts.nextContactTime}]]
                                    </div>
                                    <div class="col-2"><strong>详细地址</strong></div>
                                    <div class="col-4">
                                        [[${contacts.address}]]
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2"><strong>联系纪要</strong></div>
                                    <div class="col-10">
                                        [[${contacts.contactSummary}]]
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="text-end card-footer">
                    <button class="btn btn-outline-dark" id="editContactsBtn">编辑</button>
                    <button class="btn btn-danger" id="deleteContactsBtn">删除</button>
                </div>
            </div>

            <!-- 评论 -->
            <div class="card mt-7">
                <div class="card-header">
                    <h4>评论列表</h4>
                </div>

                <!-- 用户评论列表 -->
                <div class="list-group rounded-0" id="comment-list">

                </div>

                <!-- 发表评论 -->
                <div class="list-group py-6 px-6">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="快来吐槽一波吧~" id="commentInput">
                        <button class="btn btn-primary" type="button" id="addCommentBtn">发送</button>
                    </div>
                </div>

            </div>

            <!-- 关联的交易 -->
            <div class="card mt-7">
                <div class="card-header">
                    <h4>交易</h4>
                </div>

                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td><input class="form-check-input" type="checkbox" id="delete-transaction-qx" /></td>
                                <td>名称</td>
                                <td>金额</td>
                                <td>阶段</td>
                                <td>可能性</td>
                                <td>预计成交日期</td>
                                <td>类型</td>
                            </tr>
                        </thead>

                        <tbody id="boundTransactionBody">

                        </tbody>
                    </table>
                </div>

                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-outline-dark" id="addTransactionBtn">新建交易</button>
                    <button class="btn btn-danger ms-2" id="deleteTransactionBtn">删除交易</button>
                </div>
            </div>

            <!-- 关联的市场活动 -->
            <div class="card mt-7">
                <div class="card-header">
                    <h4>市场活动</h4>
                </div>

                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td><input class="form-check-input" type="checkbox" id="unbind-qx" /></td>
                                <td>名称</td>
                                <td>开始时间</td>
                                <td>结束时间</td>
                                <td>所有者</td>
                            </tr>
                        </thead>

                        <tbody id="boundActivityBody">

                        </tbody>
                    </table>
                </div>

                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-outline-dark" id="show-bind-model-btn">添加关联</button>
                    <button class="btn btn-danger ms-2" id="unbindBtn">解除关联</button>
                </div>

            </div>

        </div>

        <!-- 编辑用户评论模态框 -->
        <div class="modal fade" id="edit-comment-modal" tabindex="-1" aria-labelledby="editCommentModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editCommentModalLabel">编辑用户评论</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="快来吐槽一波吧~" style="height: 150px;"
                                id="edit-comment-textarea"></textarea>
                            <label for="edit-comment-textarea">评论</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="update-comment-btn">更新</button>
                    </div>
                </div>
            </div>
        </div>

        <!--  添加关联市场活动模态框  -->
        <div class="modal fade" id="bind-modal" tabindex="-1" aria-labelledby="bindModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bindModalLabel">关联市场活动</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body px-5 py-5">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="前辈可以在这里输入市场活动名称哦" aria-label=""
                                aria-describedby="search-activity-btn" id="search-activity-input">
                            <button class="btn btn-outline-success" type="button" id="search-activity-btn"><i
                                    class="bi bi-search"></i></button>
                        </div>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td><input class="form-check-input" type="checkbox" id="bind-qx" /></td>
                                    <td>名称</td>
                                    <td>开始时间</td>
                                    <td>结束时间</td>
                                    <td>所有者</td>
                                </tr>
                            </thead>

                            <tbody id="unboundActivityBody">

                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="bindBtn">关联</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../../../static/js/lib/bootstrap.bundle.min.js" th:src="@{/js/lib/bootstrap.bundle.min.js}">
    </script>
</body>

</html>